{% extends "dynamicdecorators/base.html" %}

{% block body %}

  <div class="panel panel-default">
    <div class="panel-heading">{{pipeline.name}}</div>
    <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Activate</th>
      <th>Meta</th>
    </tr>

    {% for p in pipes %}
      <tr>
        <td>{{p.name}}</td>
        <td>
          {%if p.enabled %}
            <a href="{% url "dynamicdecorators-disable" slug p.slug %}"
               class="btn btn-success">Deactivate</a>
          {% else %}
            <a href="{% url "dynamicdecorators-enable" slug p.slug %}"
               class="btn btn-info">Activate</a>
          {% endif %}
        </td>
        <td>
          <table class="table table-condensed table-bordered">
            {% for k,v in p.meta.iteritems %}
              <tr><th>{{ k }}</th><td>{{ v }}</td></tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock body %}
