{% extends "dynamicdecorators/base.html" %}

{% block body %}

  <div class="panel panel-default">
    <div class="panel-heading">Panel heading</div>
    <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Activate</th>
      <th>Meta</th>
    </tr>

    {% for d in provided_decorators %}
      <tr>
        <td>{{d.name}}</td>
        <td>
          {%if d.enabled %}
            <a href="{% url "dynamicdecorators-disable" slug d.slug %}"
               class="btn btn-success">Deactivate</a>
          {% else %}
            <a href="{% url "dynamicdecorators-enable" slug d.slug %}"
               class="btn btn-info">Activate</a>
          {% endif %}
</td>
        <td>{{d}}</td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock body %}
